In [2]:
import pandas as pd

df = pd.read_csv("crypto_data/LTC-USD.csv", names=["time", "low", "high", "open", "close", "volume"])

df.head(10)

         time        low       high       open      close      volume
0  1528968660  96.580002  96.589996  96.589996  96.580002    9.647200
1  1528968720  96.449997  96.669998  96.589996  96.660004  314.387024
2  1528968780  96.470001  96.570000  96.570000  96.570000   77.129799
3  1528968840  96.449997  96.570000  96.570000  96.500000    7.216067
4  1528968900  96.279999  96.540001  96.500000  96.389999  524.539978
5  1528968960  96.459999  96.519997  96.459999  96.519997   16.991997
6  1528969020  96.379997  96.529999  96.510002  96.440002   95.524078
7  1528969080  96.349998  96.529999  96.480003  96.470001  175.205307
8  1528969140  96.349998  96.550003  96.480003  96.400002   43.652802
9  1528969200  96.400002  96.430000  96.430000  96.400002    8.160000

In [ ]:
main_df = pd.DataFrame()